.r34u--post-view-content {
  display: flex;
  gap: 8px;
  padding: 0 8px;
  padding-bottom: 8px;
  width: 100%;

  .r34u--post-view {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 4px;
    width: 100%;

    & > .media {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 80vh;
      max-height: 80vh;
      background-color: rgba(255, 255, 255, 0.1);
      contain: content;
      border-radius: 4px;

      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    & > .comments-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 8px;
      border-radius: 4px;
      width: 100%;

      & > .header {
        display: flex;
        flex-direction: column;

        & > .title {
          font-size: 24px;
          font-weight: 600;
          line-height: 1;
        }

        & > .subtext {
          font-size: 12px;
          font-weight: 400;
          line-height: 1;
          opacity: 0.75;
        }
      }

      & > .comments {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 8px;
        border-radius: 4px;
        width: 100%;

        .comment {
          display: flex;
          flex-direction: column;
          gap: 8px;
          background-color: rgba(255, 255, 255, 0.1);
          padding: 8px;
          border-radius: 4px;
          width: 100%;
          position: relative;

          & > .date {
            font-size: 12px;
            font-weight: 400;
            line-height: 1;
            opacity: 0.75;
            position: absolute;
            top: 8px;
            right: 8px;
          }

          & > .about {
            display: flex;
            gap: 8px;
            align-items: center;

            & > .author {
              font-size: 16px;
              font-weight: 600;
              line-height: 1;
              color: whitesmoke !important;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }

            & > .score {
              display: flex;
              border-radius: 4px;
              background-color: rgba(255, 255, 255, 0.1);
              align-items: center;
              gap: 4px;
              line-height: 1;
              padding: 4px;

              & > .icon {
                font-size: 14px;
                width: 16px;
                height: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 50%;
              }

              & > .value {
                font-size: 12px;
                font-weight: 400;
                line-height: 1;
              }
            }
          }
        }
      }
    }
  }
}
